@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section MySection
{
    <link href="~/css/aboutUs.css" rel="stylesheet" />
}

<div class="banner-img">
    <img src="~/images/hero-banner-img.png" class="img-fluid" style="width: 100%;">
</div>
<div class="txt1 mt-5 d-flex justify-content-center"><span>A Few words about us</span></div>
<div class="forma1">
    <hr class="Rectangle-5-copy-5">
    <div class="separator"><img src="~/images/forma-1-copy-5.png"></div>
    <hr class="Rectangle-5-copy-4">
</div>
<div class="txt-box1">
    <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum
        vel risus condimentum dictum.<br> &nbsp; Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus,<br>sollicitudin eu magna sed, pharetra
        sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit <span style="margin-left: 450px;">ultricies</span>.<br><br>
        <br> Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus
        eget mauris eget nisl euismod <br>volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et
        mauris tincidunt hendrerit. Aenean ut rhoncus orci, vel elementum <br>&nbsp;turpis. Donec tempor aliquet magna eu
        fringilla. Nam lobortis libero ut odio finibus lobortis. In hac habitasse platea dictumst. Mauris a<br>
        hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget,
        aliquam ultricies velit. Sed lacus elit,<br><span style="margin-left: 300px;">tincidunt et massa ac, vehicula placerat lorem.</span>
    </span>
</div>
<div class="txt1 mt-5 d-flex justify-content-center"><span>Our Story</span></div>
<div class="forma1">
    <hr class="Rectangle-5-copy-5">
    <div class="separator"><img src="~/images/forma-1-copy-5.png"></div>
    <hr class="Rectangle-5-copy-4">
</div>
<div class="txt-box2 mb-4">
    <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie convallis tempor. Duis vestibulum
        vel risus condimentum dictum.<br> &nbsp; Orci varius natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Vivamus quis enim orci. Fusce risus lacus,<br>sollicitudin eu magna sed, pharetra
        sodales libero. Proin tincidunt vel erat id porttitor. Donec tristique est arcu, sed dignissim velit <span style="margin-left: 450px;">ultricies</span>.<br><br>
        <br> Interdum et malesuada fames ac ante ipsum primis in faucibus. In hac habitasse platea dictumst. Vivamus
        eget mauris eget nisl euismod <br>volutpat sed sed libero. Quisque sit amet lectus ex. Ut semper ligula et
        mauris tincidunt hendrerit.
        <br><br> Aenean ut rhoncus orci, vel elementum turpis. Donec tempor aliquet magna eu
        fringilla. Nam lobortis libero ut odio finibus lobortis. In hac <br>habitasse platea dictumst. Mauris a
        hendrerit felis. Praesent ac vehicula ipsum, at porta tellus. Sed dolor augue, posuere sed neque eget,
        <span style="margin-left: 200px;">aliquam ultricies velit. Sed lacus elit,tincidunt et massa ac, vehicula placerat lorem.</span>
    </span>
</div>