@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section MySection
{
    <link href="~/css/contactUs.css" rel="stylesheet" />
}

<div class="clip">
    <img src="~/images/group-16_2.png" style="width:100% ">
</div>
<div class="contact_txt">Contact us</div>
<div class="forma1">
    <hr class="Rectangle-5-copy-5">
    <div class="separator"><img src="~/images/separator.png"></div>
    <hr class="Rectangle-5-copy-4">
</div>
<div class="e-forma1">
    <div class="box1">
        <div><img src="~/images/forma-1_2.png"></div>
        <span>1111 Lorem ipsum text 100,<br> Lorem ipsum AB</span>
    </div>
    <div class="box1">
        <div><img src="~/images/forma-1_2.png"></div>
        <span>+49 (40) 123 56 7890<br> +49 (40) 123 56 7890</span>
    </div>
    <div id="box2">
        <div><img src="~/images/forma-1_2.png"></div>
        <span>info@helperland.com</span>
    </div>
</div>
<div class="f-title">
    Get in touch with us
</div>
<!--form-->
<div class="form">
    <div class="row">
        <div class="item1"><input class="inputBox" type="text" name="firstname" placeholder="First name"></div>
        <div class="item2"><input class="inputBox" type="text" name="lastname" placeholder="last name"></div>
    </div>
    <div class="row">
        <div class="item1"><input class="inputBox" type="phone number" name="email" placeholder="phone number"></div>
        <div class="item2"><input class="inputBox" type="email" name="lastname" placeholder="Email address"></div>
    </div>
    <div>
        <select id="subject" class="inputBox" name="Subject">
            <option value="Subject" selected>Subject</option>
            <option value="cp">cp</option>
            <option value="cp">cp</option>
        </select>
    </div>
    <div class="txtarea">
        <textarea class="textField" row="5" placeholder="Message"></textarea>
    </div>
    <div><button class="btn">submit</button></div>
</div>
<div class="map-img d-flex justify-content-center align-items-center">
    <img class="m-0" src="~/images/pin.png" alt="map">
</div>