@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <main stye="width:100%">
        <section class="hero-banner-section" style="background-image: url(images/hero-banner.jpg);">
            <div class="container">
                <h1>Lorem ipsum text</h1>
                <ul>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
                </ul>
                <div class="btn-wrapper text-center">
                    <a href="#" title="Let's Book a Cleaner" class="blue-btn">Let's Book a Cleaner</a>
                </div>
                <div class="step-wrapper">
                    <div class="row justify-content-center flex-wrap">
                        <div class="col-lg-3 col-6 process-item-1 full-width">
                            <div class="step">
                                <span>
                                    <img src="images/enter-postcode-icon.png" alt="Enter Postcode">
                                </span>
                                <p>Enter your postcode</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 process-item-2 full-width">
                            <div class="step">
                                <span>
                                    <img src="images/select-plan-icon.png" alt="Select Plan">
                                </span>
                                <p>Select your plan</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 process-item-3 full-width">
                            <div class="step">
                                <span>
                                    <img src="images/pay-securely-icon.png" alt="Pay Securely">
                                </span>
                                <p>Pay securely online</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-6 process-item-4 full-width">
                            <div class="step">
                                <span>
                                    <img src="images/amazing-service-icon.png" alt="Amazing service">
                                </span>
                                <p>Enjoy amazing service</p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="scroll-link-wrapper">
                <a href="#" title="Scroll Down" class="scroll-link">
                    <img src="images/white-down-arrow.png" alt="Scroll-down">
                </a>
            </div>
        </section>
        <section class="why-helperhand scroll-section">
            <div class="container">
                <h2 class="text-center">Why Helperland</h2>
                <div class="row justify-content-center helperhand-wrapper">
                    <div class="col-lg-4 col-sm-6 text-center">
                        <div class="img-block">
                            <img src="images/professionals.png" alt="Professionals">
                        </div>
                        <h3 class="justify-content-center d-flex align-items-center">
                            Experience & Vetted Professionals
                        </h3>
                        <p>dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <div class="img-block">
                            <img src="images/online-payment.png" alt="Online Payment">
                        </div>
                        <h3 class="justify-content-center  d-flex align-items-center">Secure Online Payment</h3>
                        <p>Payment is processed securely online. Customers pay safely online and manage the booking.</p>
                    </div>
                    <div class="col-lg-4 col-sm-6 text-center">
                        <div class="img-block">
                            <img src="images/customer-service.png" alt="Customer service">
                        </div>
                        <h3 class="justify-content-center  d-flex align-items-center">Dedicated Customer Service</h3>
                        <p>to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="blog-section">
            <div class="container">
                <div class="blog-description-block">
                    <div class="row align-items-center">
                        <div class="col-lg-7 col-md-6">
                            <h2 class="h3">Lorem ipsum dolor sit amet, consectetur</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi sapien, suscipit ut accumsan vitae, pulvinar ac libero.</p>
                            <p>Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel efficitur urna finibus vitae. Nullam finibus aliquet pharetra. Morbi in sem dolor. Integer pretium hendrerit ante quis vehicula.</p>
                            <p>Mauris consequat ornare enim, sed lobortis quam ultrices sed.</p>
                        </div>
                        <div class="col-lg-5 col-md-6">
                            <div class="image-wrapper">
                                <img src="images/blog-decription-image.png" alt="Blog description">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="our-blog-block">
                    <h2 class="text-center">Our Blog</h2>
                    <div class="row blog-wrapper">
                        <div class="col-lg-4 col-sm-6 blog-detail-outer">
                            <div class="blog-detail">
                                <div class="blog-image">
                                    <img src="images/blog-image-1.png" alt="blog-image">
                                </div>
                                <div class="blog-content">
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <span>January 28, 2019</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                    <a href="#" title="Read More" class="arrow-link">Read More<em><img src="images/right-arrow-gray.png" alt="right arrow"></em></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 blog-detail-outer">
                            <div class="blog-detail">
                                <div class="blog-image">
                                    <img src="images/blog-image-2.png" alt="blog-image">
                                </div>
                                <div class="blog-content">
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <span>January 28, 2019</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                    <a href="#" title="Read More" class="arrow-link">Read More<em><img src="images/right-arrow-gray.png" alt="right arrow"></em></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 blog-detail-outer">
                            <div class="blog-detail">
                                <div class="blog-image">
                                    <img src="images/blog-image-3.png" alt="blog-image">
                                </div>
                                <div class="blog-content">
                                    <h3>Lorem ipsum dolor sit amet</h3>
                                    <span>January 28, 2019</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                    <a href="#" title="Read More" class="arrow-link">Read More<em><img src="images/right-arrow-gray.png" alt="right arrow"></em></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="customer-section">
            <div class="container">
                <h2 class="text-center">What Our Customers Say</h2>
                <div class="row customer-wrapper">
                    <div class="col-lg-4 col-sm-6">
                        <div class="customer-inner">
                            <em class="message-infor">
                                <img src="images/message.png" alt="Message Info">
                            </em>
                            <div class="person-info d-flex align-items-center">
                                <div class="person-image">
                                    <img src="images/lary-watson.png" alt="Lary Watson">
                                </div>
                                <div class="person-content">
                                    <span class="person-name">Lary Watson</span>
                                    <span class="person-city">Manchester</span>
                                </div>
                            </div>
                            <div class="person-detail">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                                <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                <a href="#" title="Read More" class="arrow-link">Read More <em><img src="images/right-arrow-gray.png" alt="Right Arrow"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="customer-inner">
                            <em class="message-infor">
                                <img src="images/message.png" alt="Message Info">
                            </em>
                            <div class="person-info d-flex align-items-center">
                                <div class="person-image">
                                    <img src="images/john-smith.png" alt="John Smith">
                                </div>
                                <div class="person-content">
                                    <span class="person-name">John Smith</span>
                                    <span class="person-city">Manchester</span>
                                </div>
                            </div>
                            <div class="person-detail">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                                <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                <a href="#" title="Read More" class="arrow-link">Read More <em><img src="images/right-arrow-gray.png" alt="Right Arrow"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="customer-inner">
                            <em class="message-infor">
                                <img src="images/message.png" alt="Message Info">
                            </em>
                            <div class="person-info d-flex align-items-center">
                                <div class="person-image">
                                    <img src="images/lars-johnson.png" alt="Lars Johnson">
                                </div>
                                <div class="person-content">
                                    <span class="person-name">Lars Johnson</span>
                                    <span class="person-city">Manchester</span>
                                </div>
                            </div>
                            <div class="person-detail">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                                <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                <a href="#" title="Read More" class="arrow-link">Read More <em><img src="images/right-arrow-gray.png" alt="Right Arrow"></em></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </main>
</div>