@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@section MySection
{
<link href="~/css/price.css" rel="stylesheet" />
}
<div class="clip">
    <img class="~/images-fluid" src="~/images/group-18.png">
</div>
<div class="d-flex justify-content-center mt-3 ">
    <div class="pricefont">Prices</div>
</div>
<div class="devider d-flex flex-row justify-content-center">
    <hr class="Rectangle-5-copy-5 ">
    <div class="separator"><img style="height: 100%;width:100%;" src="~/images/separator.png"></div>
    <hr class="Rectangle-5-copy-5 ">
</div>

<div class="container d-flex justify-content-center">
    <div class="card1 ">
        <div class="Rectangle-20-copy"><span>One Time</span> </div>
        <div class="Rec-time">
            <span class="currency">&euro;</span>
            <span class="price">20<span class="time">/hr</span></span>


        </div>
        <div class="list1">
            <ul class="list-1">
                <li>Lower prices</li>
                <li>Easy online & secure payment</li>
                <li>Easy amendment</li>
            </ul>
        </div>
    </div>
</div>
<hr style="width: 73.1%; margin-left: 15%;">
<br>

<section class="extra_services faq_title">
    <h5 class="p_hr mx-auto"></h5>
    <h2 class="text-center">Extra Services</h2>
    <div class="devider d-flex flex-row justify-content-center">
        <hr class="Rectangle-5-copy-5 ">
        <div class="separator"><img style="height: 100%;width:100%;" src="" ~ /images/separator.png"></div>
        <hr class="Rectangle-5-copy-5 ">
    </div>
    <div class="extra-service d-flex flex-wrap justify-content-center align-items-center">
        <div class="extra-items text-center">
            <div class="extra-img d-flex justify-content-center align-items-center mx-auto">
                <img src="~/images/3.png" alt="">
            </div>
            <div class="extra-details mt-3">
                <p class="extra-title mb-0">
                    Inside cabinets
                </p>
                <p class="extra-time text-center mt-1">
                    30 minutes
                </p>
            </div>
        </div>
        <div class="extra-items text-center">
            <div class="extra-img d-flex justify-content-center align-items-center mx-auto">
                <img src="~/images/5.png" alt="">
            </div>
            <div class="extra-details mt-3">
                <p class="extra-title mb-0">
                    Inside fridge
                </p>
                <p class="extra-time text-center mt-1">
                    30 minutes
                </p>
            </div>
        </div>
        <div class="extra-items text-center">
            <div class="extra-img d-flex justify-content-center align-items-center mx-auto">
                <img src="~/images/4.png" alt="">
            </div>
            <div class="extra-details mt-3">
                <p class="extra-title mb-0">
                    Inside oven
                </p>
                <p class="extra-time text-center mt-1">
                    30 minutes
                </p>
            </div>
        </div>
        <div class="extra-items text-center">
            <div class="extra-img d-flex justify-content-center align-items-center mx-auto">
                <img src="~/images/2.png" alt="">
            </div>
            <div class="extra-details mt-3">
                <p class="extra-title mb-0">
                    Laundry wash & dry
                </p>
                <p class="extra-time text-center mt-1">
                    30 minutes
                </p>
            </div>
        </div>
        <div class="extra-items text-center">
            <div class="extra-img d-flex justify-content-center align-items-center mx-auto">
                <img src="~/images/1.png" alt="">
            </div>
            <div class="extra-details mt-3">
                <p class="extra-title mb-0">
                    Interior windows
                </p>
                <p class="extra-time text-center mt-1">
                    30 minutes
                </p>
            </div>
        </div>
    </div>
</section>
<div class="Rectangle-21-copy">
    <div class="txt1">
        <div class="pricefont">What we include in cleaning</div>
    </div>
    <div class="devider d-flex flex-row justify-content-center">
        <hr class="Rectangle-5-copy-5 ">
        <div class="separator"><img style="height: 100%;width:100%;" src="" ~ /images/separator.png"></div>
        <hr class="Rectangle-5-copy-5 ">
    </div>
    <div class="card2">
        <div class="card-2-clip1">
            <img src="~/images/group-18_3.png">
            <div class="clip1-txt">Bedroom and Living Room</div>
            <div class="clip1-txt-box">
                <ul class="clip-list">
                    <li class="mb">Dust all accessible surfaces </li>
                    <li class="mb">Wipe down all mirrors and glass fixtures</li>
                    <li class="mb">Wipe down all mirrors and glass fixtures</li>
                    <li class="mb"> Clean all floor surfaces </li>
                    <li class="mb">Take out garbage and recycling</li>
                </ul>
            </div>
        </div>
        <div class="card-2-clip1">
            <img src="~/images/group-18_4.png">
            <div class="clip1-txt">Bathrooms</div>
            <div class="clip1-txt-box">
                <ul class="clip-list">
                    <li class="mb">Wash and sanitize the toilet, shower, tub, sink </li>
                    <li class="mb">Dust all accessible surfaces</li>
                    <li class="mb">Wipe down all mirrors and glass fixtures</li>
                    <li class="mb"> Clean all floor surfaces </li>
                    <li class="mb">Take out garbage and recycling</li>
                </ul>
            </div>
        </div>

        <div class="card-2-clip1">
            <img src="~/images/group-18_2.png">
            <div class="clip1-txt">Kitchen</div>
            <div class="clip1-txt-box">
                <ul class="clip-list">
                    <li class="mb">Dust all accessible surfaces </li>
                    <li class="mb">Empty sink and load up dishwasher</li>
                    <li class="mb">Wipe down all mirrors and glass fixtures</li>
                    <li class="mb"> Wipe down exterior of stove, oven and fridge </li>
                    <li class="mb">Take out garbage and recycling</li>
                </ul>
            </div>
        </div>

    </div>
</div>


<div class="why-helperland">
    <div class="txt2">
        <div class="pricefont">Why Helperland</div>
    </div>
    <div class="devider d-flex flex-row justify-content-center">
        <hr class="Rectangle-5-copy-5 ">
        <div class="separator"><img style="height: 100%;width:100%;" src="" ~ /images/separator.png"></div>
        <hr class="Rectangle-5-copy-5 ">
    </div>
    <div class="content-box1">
        <div class="content-box1-1">
            <div class="l1-alignment l l1" style="text-align: right;">Experienced and vetted professionals</div>
            <div class="l1-alignment l2">
                dominate the industry in scale and scope with an adaptable, extensive
                network that consistently delivers exceptional results.
            </div>
            <div class="l1-alignment l l3" style="text-align: right;">Dedicated customer service</div>
            <div class="l1-alignment l4">
                to our customers and are guided in all we do by their needs. The team is
                always happy to support you and offer all the information. you need.
            </div>
        </div>
        <img src="~/images/the-best-img-1.png">
        <div class="content-box1-2">
            <div class="l1">Every cleaning is insured</div>
            <div class="l2-alignment l2">
                and seek to provide exceptional service and engage in proactive behavior.
                We‘d be happy to clean your homes.
            </div>
            <div class="l2-alignment l l3">Secure online payment</div>
            <div class="l2-alignment l4">
                Payment is processed securely online. Customers pay safely online and
                manage the booking.
            </div>
        </div>
    </div>
</div>
