*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
 }
  .body{
    width: 1560px;
  }
  /* ..............header...... */
  .service-page {
    top: 0px;
    left: 0px;
    width: 1560px;
    height: 930px;
    background: #525252 no-repeat;
    background-image:url("img/become-a-pro-banner.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
.nav{
      width: 1560px;
      height: 123px;
      display: flex;
  }
  
img.white_logo_transparent_background {
    width: 156px;
    height: 120px;
    margin: 3px 0px 190px 8px;
    object-fit: contain;
  }
  
.menu{
      width: 100%;
      margin-top: 10px;
      height: 113px;
  }
  
ul{
    float: left;
  }
  
ul#list li{
      display: inline;
      float: right;
      height: 130px;
      align-items: center;  
  }
  
.Rounded-Rectangle-5-copy-1 {
      width: 161px;
      height: 40px;
      margin: 35px 20px 0px 456px;
      border-radius: 20px;
      border: solid 1px white;
      text-align: center;
      padding:7px;
      background-color: transparent;
    }
    .Rounded-Rectangle-5-copy-2 {
      width: 100%;
      height: 40px;
      margin: 35px 9px 0px 10px;
      padding:7px;
      background-color: transparent;
    }
    .Rounded-Rectangle-5-copy-3 {
      width: 97px;
      height: 40px;
      margin: 35px 10px 0px 1px;
      border-radius: 20px;
      border: solid 1px white;
      text-align: center;
      padding:7px;
      background-color: transparent;
    }
    .Rounded-Rectangle-5-copy-4 {
      width: 161px;
      height: 40px;
      margin: 35px 10px 0px 1px;
      border-radius: 20px;
      border: solid 1px white;
      text-align: center;
      padding:7px;
      background-color: transparent;
    }
    .Book-a-Cleaner-Prices-Our-Guarantee-B {
      width: 100%; 
      height: 20px;
      font-family: Roboto;
      font-size: 17px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.41;
      letter-spacing: normal;
      text-align: center;
      color: #fff;
    }
    .Rounded-Rectangle-5 {
      width: 97px;
      height: 40px;
      margin: 0px 11px 0px 20px; 
      padding: 12px 29px 13px;
      border-radius: 20px;
      border: solid 1px var(--white-50);
      background-color: #fff;
    }
    .Become-a-Helper {
      width: 121px;
      height: 15px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: right;
      color: #fff;
    } 
    /* ...........header end........*/
    .form{
      width: 430px;
      height: 664px;
      margin: 29px 0px 0px 565px;
      background: #FFFFFF;
      box-shadow: 0px 0px 16px #00000026;
    }
    #h-txt{
      width: 172px;
      height: 29px;
      display: inline;
     margin:  19px 0px 0px 134px;
    }
    #h-txt h3{
      size: 24px;
      text-align: center;
    }
    .frm-row{
      margin-top: 9px;
      display: flex;
      flex-direction: column;
    }
    .frm-row input{
      width: 359px;
      height: 46px;
      margin: 15px 0px 0px 36px;
      padding: 13px 0px 14px 15px;
    }
    /* ...........how it works css...... */
.feature-box{
  height: 1000px;
  width: 60%;
  margin: 120px 0 60px 425px;
  display: flex;
  flex-direction: column;
}
.hiw{
  font-size: 35px;
  font-weight: bold;
  text-align: center;;
}
 #box1 {
	margin-top: 30px;
}

#box1 img{
	width:30%;
  float:left;
  margin-top: -10%;
}

#box1. title { 
  margin-right: 10%;
	width:50%;
  text-align:left;
  float:left;
  font-family: Roboto;
  font-size: 30px;

  text-align: left;
  color: #4f4f4f;
}

#box1 .desc { 
  margin-right: 10%;
	width:50%;
  padding:1em;
  text-align:left;
  float:left;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #4f4f4f;
}

#box2 {
	margin-top: 5%;
}

#box2 img{
	width:30%;
  float:right;
  margin-top: -10%;
}

#box2 .title { 
  margin-left: 10%;
	width:50%;
  text-align:right;
  float:right;
  padding:1em;
  font-family: Roboto;
  font-size: 30px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left; 
  color: #4f4f4f;
}

#box2 .desc { 
  margin-left: 10%;
	width:50%;
  padding:1em;
  text-align:left;
  float:right;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #4f4f4f;
}